**for** item **in** sequencia: 

        instruções executadas para cada item da sequencia

In [1]:
lista = [2,6,9,6,4,8,7,14]

for item in lista:
    print(item)

2
6
9
6
4
8
7
14

In [2]:
lista = [2,6,9,6,4,8,7,14]
palavra = 'Daniel'
for letra in palavra:
    print(letra)

D
a
n
i
e
l

In [3]:
for numero in range(1,11):
    print(numero)

1
2
3
4
5
6
7
8
9
10

In [4]:
nome = input('Digite o seu nome: ')
for x in range(10):
    print(f'{x+1} {nome}')

1 Daniel
2 Daniel
3 Daniel
4 Daniel
5 Daniel
6 Daniel
7 Daniel
8 Daniel
9 Daniel
10 Daniel

range(valor_inicial, valor_final, incremento)

In [ ]:
for x in range(2,21,3):
    print(x)

2
5
8
11
14
17
20

In [9]:
for x in range(21,2,-3):
    print(x)

21
18
15
12
9
6
3

In [11]:
pedras = ('Rubi','Esmeralda','Quartzo','Safira','Diamante','Turmalina')

for pedra in pedras:
    if pedra == 'Quartzo':
        continue
    print(pedra)

Rubi
Esmeralda
Safira
Diamante
Turmalina